In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('Application_Data.csv')

In [6]:
df.head(3)

,Applicant_ID,Applicant_Gender,Owned_Car,Owned_Realty,Total_Children,Total_Income,Income_Type,Education_Type,Family_Status,Housing_Type,...,Owned_Work_Phone,Owned_Phone,Owned_Email,Job_Title,Total_Family_Members,Applicant_Age,Years_of_Working,Total_Bad_Debt,Total_Good_Debt,Status
0,5008806,M,1,1,0,112500,Working ...,Secondary / secondary special ...,Married ...,House / apartment ...,...,0,0,0,Security staff ...,2,59,4,0,30,1
1,5008808,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,...,0,1,1,Sales staff ...,1,53,9,0,5,1
2,5008809,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,...,0,1,1,Sales staff ...,1,53,9,0,5,1

In [7]:
## 1. what percentage of customers were rejected a CC?
## 2. How many of the rejected applicants owned a house? 
## 3. how many males applicants who were under 40 years of age were rejected a CC ? 
## 4. what's the average years of experience for those applicants who were rejected for a CC?
## 5. what's the median income of people who oened Realty? 
## 6. what is the common Educational background of applicants who were rejcted a CC?

In [8]:
## Finding the % of customers who were rejected for CC
round(df['Status'].value_counts(normalize=True)*100,2)

Status
1    99.52
0     0.48
Name: proportion, dtype: float64

### 0.48% of the customers were rejected a Credit Card

In [9]:
## Finding how many of those rejected applicants owned a house
df.where((df['Status']==0)&(df['Owned_Realty']==1)).groupby(['Status'])['Owned_Realty'].value_counts()

Status  Owned_Realty
0.0     1.0             77
Name: count, dtype: int64

### 77 applicants who owned realty were rejected a Credit Card

In [10]:
## Finding the no.of male applicants who were under 40 and rejected a CC
df.where((df['Applicant_Gender'].str.contains('M'))&(df['Applicant_Age']<40)&(df['Status']==0)).groupby(['Status'])['Applicant_Gender'].value_counts()

Status  Applicant_Gender
0.0     M                   34
Name: count, dtype: int64

### 34 Male Applicants who were under 40 were rejected a Credit Card

In [11]:
## Finding the average years of experience for those applicants who were rejected for a CC

In [12]:
df.where(df['Status']==0)['Years_of_Working'].mean()

np.float64(5.7190082644628095)

### Applicants with on an Average of 5.7 Years of Experience were rejected for a CC

In [13]:
## Finding the median income of people who owned Realty

In [14]:
df.where(df['Owned_Realty']>0)['Total_Income'].median()

np.float64(180000.0)

### The median income of people who owned realty is 1,80,000

In [15]:
## Finding the common Educational background of applicants who were rejcted a CC

In [16]:
df.where(df['Status']==0).groupby(['Education_Type'])['Status'].value_counts().sort_values(ascending=False)

Education_Type                                      Status
Secondary / secondary special                       0.0       77
Higher education                                    0.0       36
Incomplete higher                                   0.0        6
Lower secondary                                     0.0        2
Name: count, dtype: int64

### People from Secondary/secondary special were commonly rejected a Credit Card

In [17]:
df.head(3)

,Applicant_ID,Applicant_Gender,Owned_Car,Owned_Realty,Total_Children,Total_Income,Income_Type,Education_Type,Family_Status,Housing_Type,...,Owned_Work_Phone,Owned_Phone,Owned_Email,Job_Title,Total_Family_Members,Applicant_Age,Years_of_Working,Total_Bad_Debt,Total_Good_Debt,Status
0,5008806,M,1,1,0,112500,Working ...,Secondary / secondary special ...,Married ...,House / apartment ...,...,0,0,0,Security staff ...,2,59,4,0,30,1
1,5008808,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,...,0,1,1,Sales staff ...,1,53,9,0,5,1
2,5008809,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,...,0,1,1,Sales staff ...,1,53,9,0,5,1

## ML

In [18]:
## Creating a column for Total credit score of a person
pd.set_option('display.max_columns',None)

In [19]:
df['Total_Credit_Score'] = df['Total_Good_Debt'] - df['Total_Bad_Debt']

In [20]:
df.head(3)

,Applicant_ID,Applicant_Gender,Owned_Car,Owned_Realty,Total_Children,Total_Income,Income_Type,Education_Type,Family_Status,Housing_Type,Owned_Mobile_Phone,Owned_Work_Phone,Owned_Phone,Owned_Email,Job_Title,Total_Family_Members,Applicant_Age,Years_of_Working,Total_Bad_Debt,Total_Good_Debt,Status,Total_Credit_Score
0,5008806,M,1,1,0,112500,Working ...,Secondary / secondary special ...,Married ...,House / apartment ...,1,0,0,0,Security staff ...,2,59,4,0,30,1,30
1,5008808,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,1,0,1,1,Sales staff ...,1,53,9,0,5,1,5
2,5008809,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,1,0,1,1,Sales staff ...,1,53,9,0,5,1,5

In [21]:
## making a copy of the df for ml

In [22]:
ml = df.copy()

In [23]:
ml.head()

,Applicant_ID,Applicant_Gender,Owned_Car,Owned_Realty,Total_Children,Total_Income,Income_Type,Education_Type,Family_Status,Housing_Type,Owned_Mobile_Phone,Owned_Work_Phone,Owned_Phone,Owned_Email,Job_Title,Total_Family_Members,Applicant_Age,Years_of_Working,Total_Bad_Debt,Total_Good_Debt,Status,Total_Credit_Score
0,5008806,M,1,1,0,112500,Working ...,Secondary / secondary special ...,Married ...,House / apartment ...,1,0,0,0,Security staff ...,2,59,4,0,30,1,30
1,5008808,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,1,0,1,1,Sales staff ...,1,53,9,0,5,1,5
2,5008809,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,1,0,1,1,Sales staff ...,1,53,9,0,5,1,5
3,5008810,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,1,0,1,1,Sales staff ...,1,53,9,0,27,1,27
4,5008811,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,1,0,1,1,Sales staff ...,1,53,9,0,39,1,39

In [24]:
## Droping unwanted columns for prediction

In [25]:
# ml.drop(['Applicant_ID','Total_Income','Income_Type','Education_Type','Family_Status','Housing_Type','Owned_Mobile_Phone','Owned_Work_Phone','Owned_Phone','Owned_Email','Total_Family_Members'],axis=1,inplace=True)

In [26]:
ml.head()

,Applicant_ID,Applicant_Gender,Owned_Car,Owned_Realty,Total_Children,Total_Income,Income_Type,Education_Type,Family_Status,Housing_Type,Owned_Mobile_Phone,Owned_Work_Phone,Owned_Phone,Owned_Email,Job_Title,Total_Family_Members,Applicant_Age,Years_of_Working,Total_Bad_Debt,Total_Good_Debt,Status,Total_Credit_Score
0,5008806,M,1,1,0,112500,Working ...,Secondary / secondary special ...,Married ...,House / apartment ...,1,0,0,0,Security staff ...,2,59,4,0,30,1,30
1,5008808,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,1,0,1,1,Sales staff ...,1,53,9,0,5,1,5
2,5008809,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,1,0,1,1,Sales staff ...,1,53,9,0,5,1,5
3,5008810,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,1,0,1,1,Sales staff ...,1,53,9,0,27,1,27
4,5008811,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,1,0,1,1,Sales staff ...,1,53,9,0,39,1,39

In [27]:
## M - 1 ; F - 0
## Highest Education - Max number ; lowest education - min number

In [28]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

In [29]:
ml['Applicant_Gender'].unique()

array(['M      ', 'F      '], dtype=object)

In [30]:
ml['Applicant_Gender'] = ml['Applicant_Gender'].map({'M      ':1,'F      ':0})

In [31]:
ml['Education_Type'] = ml['Education_Type'].str.strip()

In [32]:
ml['Education_Type'].unique()

array(['Secondary / secondary special', 'Higher education',
       'Incomplete higher', 'Lower secondary', 'Academic degree'],
      dtype=object)

In [33]:
## Ordinal encoding Education_Type

In [34]:
oe_edu = OrdinalEncoder(categories=[['Lower secondary','Secondary / secondary special','Incomplete higher','Higher education','Academic degree']])

In [35]:
ml['Education_Type'] = oe_edu.fit_transform(ml[['Education_Type']])

In [36]:
## Label Encoding Income_Type

In [37]:
le_IT = LabelEncoder()

In [38]:
ml['Income_Type'] = le_IT.fit_transform(ml['Income_Type'])

In [39]:
## Label Encoding Income_Type 'Family_Status'

In [40]:
le_FS = LabelEncoder()

In [41]:
ml['Family_Status'] = le_FS.fit_transform(ml['Family_Status'])

In [42]:
## Label Encoding Income_Type 'Housing_Type'

In [43]:
le_HT = LabelEncoder()
ml['Housing_Type'] = le_FS.fit_transform(ml['Housing_Type'])

In [44]:
## Label Encoding Income_Type 'Job_Title'

In [45]:
le_JT = LabelEncoder()
ml['Job_Title'] = le_FS.fit_transform(ml['Job_Title'])

In [46]:
tl=ml.copy()

In [47]:
tl.drop('Total_Credit_Score',axis=1,inplace=True)

In [49]:
tl.head()

,Applicant_ID,Applicant_Gender,Owned_Car,Owned_Realty,Total_Children,Total_Income,Income_Type,Education_Type,Family_Status,Housing_Type,Owned_Mobile_Phone,Owned_Work_Phone,Owned_Phone,Owned_Email,Job_Title,Total_Family_Members,Applicant_Age,Years_of_Working,Total_Bad_Debt,Total_Good_Debt,Status
0,5008806,1,1,1,0,112500,4,1.0,1,1,1,0,0,0,16,2,59,4,0,30,1
1,5008808,0,0,1,0,270000,0,1.0,3,1,1,0,1,1,14,1,53,9,0,5,1
2,5008809,0,0,1,0,270000,0,1.0,3,1,1,0,1,1,14,1,53,9,0,5,1
3,5008810,0,0,1,0,270000,0,1.0,3,1,1,0,1,1,14,1,53,9,0,27,1
4,5008811,0,0,1,0,270000,0,1.0,3,1,1,0,1,1,14,1,53,9,0,39,1

In [80]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, BaggingClassifier
from catboost import CatBoostClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier, XGBRFClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [51]:
# x = tl.drop('Status',axis=1)
# y = tl[['Status']]

x = ml.drop('Status',axis=1)
y = ml[['Status']]

In [52]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.20,random_state=42)

In [53]:
lr = LogisticRegression()

In [54]:
lr.fit(xtrain,ytrain) ## to train using xtrain and ytrain

C:\Users\Monisha R\anaconda3\envs\mons_py313\Lib\site-packages\sklearn\utils\validation.py:1406: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Monisha R\anaconda3\envs\mons_py313\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [55]:
lr_preds = lr.predict(xtest)

In [56]:
lr_preds

array([1, 1, 1, ..., 1, 1, 1], shape=(5026,))

In [57]:
len(lr_preds)

5026

In [58]:
xtest.shape

(5026, 21)

In [59]:
lr_accuracy = round(accuracy_score(ytest,lr_preds)*100,2)

In [60]:
lr_accuracy

99.88

In [61]:
lr_conf_matrix = confusion_matrix(ytest,lr_preds)

In [62]:
lr_conf_matrix

array([[  21,    5],
       [   1, 4999]])

### my positive class is 1 and negative class is 0 here
### True negative = 21, False Positive = 5, False Negative = 1, True Positive = 4999
### Since this is a credit card approval problem, reducing false positives (5) is more important than reducing false negatives (1)
### Approving a credit card for a high-risk customer can result in financial loss, while rejecting a low-risk customer mainly leads to missed opportunity.
### So the model evaluation focuses more on Recall rather than overall accuracy

In [63]:
lr_class_report = classification_report(ytest,lr_preds)

In [64]:
print(lr_class_report)

              precision    recall  f1-score   support

           0       0.95      0.81      0.88        26
           1       1.00      1.00      1.00      5000

    accuracy                           1.00      5026
   macro avg       0.98      0.90      0.94      5026
weighted avg       1.00      1.00      1.00      5026

In [65]:
pd.DataFrame(lr_preds).value_counts()

0
1    5004
0      22
Name: count, dtype: int64

In [66]:
lr_final = xtest.copy()
lr_final['LR_PREDS'] = lr_preds
lr_final['ACTUALS'] = ytest
lr_final.head()

,Applicant_ID,Applicant_Gender,Owned_Car,Owned_Realty,Total_Children,Total_Income,Income_Type,Education_Type,Family_Status,Housing_Type,Owned_Mobile_Phone,Owned_Work_Phone,Owned_Phone,Owned_Email,Job_Title,Total_Family_Members,Applicant_Age,Years_of_Working,Total_Bad_Debt,Total_Good_Debt,Total_Credit_Score,LR_PREDS,ACTUALS
13396,5089019,0,0,0,0,135000,4,1.0,1,1,1,1,0,0,8,2,44,16,0,12,12,1,1
5324,5036806,1,1,1,2,472500,0,3.0,1,1,1,0,0,0,10,4,49,6,0,17,17,1,1
13640,5089480,0,0,0,1,36000,4,1.0,1,4,1,1,0,0,8,3,37,16,0,2,2,1,1
5070,5036050,0,0,1,0,225000,2,1.0,1,5,1,0,0,0,8,2,30,9,0,34,34,1,1
17645,5112655,0,0,1,0,112500,4,1.0,1,1,1,0,0,1,14,2,46,6,0,49,49,1,1

In [68]:
lr_final[(lr_final['ACTUALS'] == 1) & (lr_final['LR_PREDS'] == 0)]

,Applicant_ID,Applicant_Gender,Owned_Car,Owned_Realty,Total_Children,Total_Income,Income_Type,Education_Type,Family_Status,Housing_Type,Owned_Mobile_Phone,Owned_Work_Phone,Owned_Phone,Owned_Email,Job_Title,Total_Family_Members,Applicant_Age,Years_of_Working,Total_Bad_Debt,Total_Good_Debt,Total_Credit_Score,LR_PREDS,ACTUALS
2492,5023451,0,0,1,0,180000,0,1.0,1,1,1,0,0,0,14,2,57,2,0,1,1,0,1

In [69]:
lr_final[(lr_final['ACTUALS'] == 0) & (lr_final['LR_PREDS'] == 0)]

,Applicant_ID,Applicant_Gender,Owned_Car,Owned_Realty,Total_Children,Total_Income,Income_Type,Education_Type,Family_Status,Housing_Type,Owned_Mobile_Phone,Owned_Work_Phone,Owned_Phone,Owned_Email,Job_Title,Total_Family_Members,Applicant_Age,Years_of_Working,Total_Bad_Debt,Total_Good_Debt,Total_Credit_Score,LR_PREDS,ACTUALS
20891,5125716,0,1,1,0,135000,4,0.0,1,1,1,0,1,0,6,2,45,2,17,5,-12,0,0
24463,5149192,1,1,0,1,450000,4,3.0,1,1,1,0,1,1,3,3,27,2,11,2,-9,0,0
20684,5125340,0,1,1,0,157500,4,1.0,1,1,1,0,0,0,10,2,48,15,5,4,-1,0,0
21441,5126712,1,0,1,1,157500,4,1.0,1,3,1,0,0,0,10,3,31,10,4,3,-1,0,0
3398,5025127,1,0,1,0,292500,4,1.0,1,1,1,0,0,0,6,2,31,10,18,3,-15,0,0
20416,5118442,0,1,0,1,108000,0,3.0,3,1,1,1,0,0,14,3,45,2,5,4,-1,0,0
8099,5052661,0,0,1,0,103500,4,1.0,1,1,1,0,0,1,7,2,29,2,11,4,-7,0,0
12456,5078839,1,0,1,0,225000,4,1.0,1,1,1,0,0,0,11,2,56,9,2,2,0,0,0
8856,5054129,1,0,0,0,190400,0,1.0,1,1,1,1,0,0,3,2,29,4,1,1,0,0,0
5160,5036405,0,1,1,0,112500,4,1.0,0,1,1,0,0,0,2,2,38,4,1,1,0,0,0
22152,5135991,0,0,1,1,585000,0,3.0,3,1,1,0,0,0,10,2,29,3,20,15,-5,0,0
12141,5069219,0,1,1,0,256500,0,3.0,1,1,1,1,0,0,0,2,31,5,21,7,-14,0,0
12859,5085886,1,1,1,0,315000,0,3.0,1,1,1,0,0,0,10,2,52,4,49,12,-37,0,0
4877,5033909,0,0,1,2,148500,4,1.0,1,1,1,1,1,0,14,4,34,3,5,2,-3,0,0
8091,5052652,0,0,1,0,103500,4,1.0,1,1,1,0,0,1,7,2,29,2,1,1,0,0,0
22961,5142361,1,1,1,1,112500,4,1.0,1,1,1,1,1,0,4,3,45,3,48,11,-37,0,0
21446,5126719,1,0,1,1,157500,4,1.0,1,3,1,0,0,0,10,3,31,10,4,3,-1,0,0
12457,5078840,1,0,1,0,225000,4,1.0,1,1,1,0,0,0,11,2,56,9,2,2,0,0,0
11879,5068779,0,0,0,0,180000,4,1.0,3,5,1,1,1,0,12,1,37,11,7,5,-2,0,0
17103,5105536,1,1,0,0,202500,4,1.0,1,1,1,0,0,0,4,2,28,7,5,3,-2,0,0
13712,5089577,0,0,0,0,202500,0,3.0,1,1,1,1,0,0,14,2,31,8,3,3,0,0,0

### Logistic Regression struggled to capture non linear relationships in the data, So going to use of tree based models

In [103]:
print('\033[1mLOGISTIC REGRESSION\033[0m','\n')
print('\033[1mAccuracy Score: \033[0m', lr_accuracy, '\n')
print('\033[1mConfusion Matix: \033[0m','\n', lr_conf_matrix, '\n')
print('\033[1mClassification Report: \033[0m','\n', lr_class_report)

LOGISTIC REGRESSION

Accuracy Score:  99.88

Confusion Matix:
 [[  21    5]
 [   1 4999]]

Classification Report:
               precision    recall  f1-score   support

           0       0.95      0.81      0.88        26
           1       1.00      1.00      1.00      5000

    accuracy                           1.00      5026
   macro avg       0.98      0.90      0.94      5026
weighted avg       1.00      1.00      1.00      5026

## Decision Tree

In [101]:
dt = DecisionTreeClassifier()
dt.fit(xtrain, ytrain)
dt_preds = dt.predict(xtest)
dt_acc = accuracy_score(ytest, dt_preds)
dt_conf = confusion_matrix(ytest, dt_preds)
dt_clas = classification_report(ytest, dt_preds)
print('\033[1mDECISION TREE\033[0m','\n')
print('\033[1mAccuracy Score: \033[0m', dt_acc, '\n')
print('\033[1mConfusion Matix: \033[0m','\n', dt_conf, '\n')
print('\033[1mClassification Report: \033[0m','\n', dt_clas)

DECISION TREE

Accuracy Score:  1.0

Confusion Matix:
 [[  26    0]
 [   0 5000]]

Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        26
           1       1.00      1.00      1.00      5000

    accuracy                           1.00      5026
   macro avg       1.00      1.00      1.00      5026
weighted avg       1.00      1.00      1.00      5026

## Recall Improved

## Random Forest

In [70]:
rf = RandomForestClassifier()

In [71]:
ml.head()

,Applicant_ID,Applicant_Gender,Owned_Car,Owned_Realty,Total_Children,Total_Income,Income_Type,Education_Type,Family_Status,Housing_Type,Owned_Mobile_Phone,Owned_Work_Phone,Owned_Phone,Owned_Email,Job_Title,Total_Family_Members,Applicant_Age,Years_of_Working,Total_Bad_Debt,Total_Good_Debt,Status,Total_Credit_Score
0,5008806,1,1,1,0,112500,4,1.0,1,1,1,0,0,0,16,2,59,4,0,30,1,30
1,5008808,0,0,1,0,270000,0,1.0,3,1,1,0,1,1,14,1,53,9,0,5,1,5
2,5008809,0,0,1,0,270000,0,1.0,3,1,1,0,1,1,14,1,53,9,0,5,1,5
3,5008810,0,0,1,0,270000,0,1.0,3,1,1,0,1,1,14,1,53,9,0,27,1,27
4,5008811,0,0,1,0,270000,0,1.0,3,1,1,0,1,1,14,1,53,9,0,39,1,39

In [104]:
ml['Status'].value_counts()

Status
1    25007
0      121
Name: count, dtype: int64

In [72]:
rf.fit(xtrain,ytrain)

C:\Users\Monisha R\anaconda3\envs\mons_py313\Lib\site-packages\sklearn\base.py:1365: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestClassifier()

In [73]:
rf_preds = rf.predict(xtest)

In [74]:
rf_accuracy_score = accuracy_score(ytest, rf_preds)*100

In [75]:
rf_accuracy_score

100.0

In [76]:
rf_conf_matrix = confusion_matrix(ytest, rf_preds)

In [77]:
rf_conf_matrix

array([[  26,    0],
       [   0, 5000]])

In [78]:
rf_class_report = classification_report(ytest, rf_preds)

In [79]:
print(rf_class_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        26
           1       1.00      1.00      1.00      5000

    accuracy                           1.00      5026
   macro avg       1.00      1.00      1.00      5026
weighted avg       1.00      1.00      1.00      5026

## Recall improved

In [102]:
print('\033[1mRANDOM FOREST\033[0m','\n')
print('\033[1mAccuracy Score: \033[0m', rf_accuracy_score, '\n')
print('\033[1mConfusion Matix: \033[0m','\n', rf_conf_matrix, '\n')
print('\033[1mClassification Report: \033[0m','\n', rf_class_report)

RANDOM FOREST

Accuracy Score:  100.0

Confusion Matix:
 [[  26    0]
 [   0 5000]]

Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        26
           1       1.00      1.00      1.00      5000

    accuracy                           1.00      5026
   macro avg       1.00      1.00      1.00      5026
weighted avg       1.00      1.00      1.00      5026